SQLAlchemy~=1.4.35
Werkzeug~=2.1.1
WTForms~=3.0.1
schedule~=1.1.0
Flask~=2.1.1
Flask-Login~=0.6.0
python-dotenv~=0.20.0
Pillow~=7.1.0
python-docx~=0.8.11
Flask-WTF~=1.0.1
Wikipedia-API~=0.5.4
