{% extends "base.html" %}
{% block content %}
    <div class="main">
        <div class="row">
            <div class="col-xs-0 cols-sm-4 col-md-4 col-lg-4">
                <div class="trads">
                    <div class="dropdown">
                        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Жанры
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Жанр #1</a></li>
                          <li><a class="dropdown-item" href="#">Жанр #2</a></li>
                          <li><a class="dropdown-item" href="#">Жанр #3</a></li>
                        </ul>
                    </div>
                    <br>
                    <a>Тред #1</a>
                    <br>
                    <a>Тред #2</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="news">
                    <div class="certain-new">
                        Новость #1
                    </div>
                    <div class="certain-new">
                        Новость #2
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}