{% extends "base.html" %}

{% block content %}
  <div class="for-form">
    <h2>Register form</h2>
    <form action="" method="post" novalidate>
        {{ reg_form.hidden_tag() }}
        <p>
            {{ reg_form.name.label }}<br>
            {{ reg_form.name(class="form-control") }}
            {% for error in reg_form.name.errors %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
            {% endfor %}
        </p>
        <p>
            {{ reg_form.birthday.label }}<br>
            {{ reg_form.birthday(class="form-control", type="date") }}
            {% for error in reg_form.birthday.errors %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
            {% endfor %}
        </p>
        <p>
            {{ reg_form.email.label }}<br>
            {{ reg_form.email(class="form-control", type="email") }}
            {% for error in reg_form.email.errors %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
            {% endfor %}
        </p>
        <p>
            {{ reg_form.password.label }}<br>
            {{ reg_form.password(class="form-control", type="password") }}
            {% for error in reg_form.password.errors %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
            {% endfor %}
        </p>
        <p>
            {{ reg_form.repeat_password.label }}<br>
            {{ reg_form.repeat_password(class="form-control", type="password") }}
            {% for error in reg_form.repeat_password.errors %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
            {% endfor %}
        </p>
        <p>
            {{ reg_form.profile_picture.label }}<br>
            {{ reg_form.profile_picture(class="form-control", type="file") }}
            {% for error in reg_form.profile_picture.errors %}
              <div class="alert alert-danger" role="alert">
                  {{ error }}
              </div>
            {% endfor %}
        </p>
        <p>{{ reg_form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
  </div>
{% endblock %}