{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-0 cols-sm-4 col-md-4 col-lg-4">
        <div class="themes">
            <div class="dropdown">
                    <a class="btn btn-info dropdown-toggle" href="#"
                       role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Жанры
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink">
                        {% for genre in genres %}
                        <li><a class="dropdown-item"
                               href="https://game-assistance.ru/themes_by_genre/{{genre.id}}/0-10">{{
                            genre.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="other-links">
                    {% for trad in trads %}
                    <a href="https://game-assistance.ru/themes/{{trad.id}}/0-10">
                        {{trad.title}}</a>
                    <br>
                    {% endfor %}
                    <a href="https://game-assistance.ru/glossary">Glossary</a>
                    <br>
                    <a class="show-on-sm"
                       href="https://game-assistance.ru/all_news/0-10">News</a>
                    <br>
                    <a class="show-on-sm"
                       href="https://game-assistance.ru/all_themes/0-10">Trads</a>
                </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="themes-side">
            {% for theme in themes %}
            <a href="https://game-assistance.ru/themes/{{ theme.id }}/0-10" style="text-decoration: none; color: black;">
                <div class="theme-block">
                    <h3>{{ theme.title }}</h3><br>
                    <span>{{ theme.description }}</span>
                </div>
            </a>
            {% if current_user.id == theme.user_id or current_user.special_access %}
                <div style="margin-top: 10px; margin-bottom: 10px;">
                <a href="https://game-assistance.ru/delete_theme/{{ theme.id }}" ><button type="button" class="btn btn-outline-danger">Delete</button></a>
                <a href="https://game-assistance.ru/edit_theme/{{ theme.id }}"><button type="button" class="btn btn-outline-warning">Redact</button></a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="switcher">
            {% if left_dis %}
            <a disabled> &lt;&lt; </a>
            {% else %}
            <a {{ left_href }} > &lt;&lt; </a>
            {% endif %}
            &emsp;{{ current_page }}&emsp;
            {% if right_dis %}
            <a disabled> &gt;&gt; </a>
            {% else %}
            <a {{ right_href }} > &gt;&gt; </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
